# Pre-commit configuration for Nix flake integration
# See https://github.com/cachix/pre-commit-hooks.nix

repos:
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bun run lint
        language: system
        files: '\\.(jsx?|tsx?|cts?|mts?)$'
        pass_names: true
